
@{
     ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>Sign Up V3</title>

     <style>
          .container-login100 {
               width: 100%; /* Adjust as needed */
          }

         .wrap-login100 {
             width: 30%;
             height: 10%;
             margin: auto; /* Center the login box horizontally */
             background-color: #142634; /* Blue background color */
             font-family: 'Montserrat', sans-serif; /* Montserrat font */
         }

          .login100-form {
               height: 100%;
          }
     </style>
</head>
<body>

     <div class="limiter">
          <div class="container-login100">
               <div class="wrap-login100">
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @id = "RegisterForm" }))
                    {
                         @Html.AntiForgeryToken()
                         <form class="login100-form validate-form">
                              <span class="login100-form-logo">
                                   <i class="zmdi zmdi-landscape"></i>
                              </span>

                              <span class="login100-form-title p-b-35 p-t-27">
                                   Sign up
                              </span>


                              <div class="wrap-input100 validate-input" data-validate="Enter username">
                                   <input class="input100" type="text" name="Username" placeholder="Username">
                                   <span class="focus-input100" data-placeholder="&#xf207;"></span>
                              </div>

                              <div class="wrap-input100 validate-input" data-validate="Enter email">
                                   <input class="input100" type="text" name="Email" placeholder="Email">
                                   <span class="focus-input100" data-placeholder="&#xf207;"></span>
                              </div>

                              <div class="wrap-input100 validate-input" data-validate="Enter password">
                                   <input class="input100" type="password" name="Password" placeholder="Password">
                                   <span class="focus-input100" data-placeholder="&#xf191;"></span>
                              </div>

                              <div class="contact100-form-checkbox">
                                   <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                   <label class="label-checkbox100" for="ckb1">
                                        Remember me
                                   </label>
                              </div>

                              <div class="container-login100-form-btn">
                                   <button class="login100-form-btn">
                                        Sign Up
                                   </button>
                              </div>
                         </form>
                    }
               </div>
          </div>
     </div>

</body>
</html>
