@model MoneyVision.Domain.Entities.User.UserMinimal

@{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}
<style>
     body {
          font-family: 'Montserrat', sans-serif;
          color: black;
          background-color: #f8f9fa;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          padding: 30px;
     }

     .container {
          background-color: #fff;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     }

     h2 {
          margin-bottom: 20px;
          color: black;
     }

     .user-actions {
          display: flex;
          align-items: center;
     }

          .user-actions select {
               margin-right: 10px;
          }
</style>
<body style="margin-top: 50px">
     <div class="container">
          <div id="profile-section" class="profile-section rounded p-5" style="margin-left: -50px;">
               @Html.ValidationSummary(true)
               @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { @class = "form", @id = "UsersForm" }))
               {
                    @Html.AntiForgeryToken()
                    <div class="p-3 py-5">
                         <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: -80px">
                              <h2 class="text-right">Profile Settings</h2>
                         </div>
                         <div class="col-md-12">
                              <div class="mb-3" style="margin-top: -20px;">
                                   <label class="labels" style="color: black;">Username</label>
                                   <input name="NewUsername" type="text" class="form-control" placeholder="Enter username" value="@Model.Username" />
                              </div>
                         </div>
                         <div class="row mt-3">
                              <div class="col-md-12 mb-3">
                                   <label class="labels" style="color: black;">Current password</label>
                                   <input name="CurrentPassword" type="password" class="form-control" placeholder="Enter your current password" />
                              </div>
                              <div class="col-md-12 mb-3">
                                   <label class="labels" style="color: black;">New password</label>
                                   <input name="NewPassword" type="password" class="form-control" placeholder="Enter your new password" />
                              </div>
                         </div>
                         <div class="mt-4 text-center">
                              <button type="submit" class="btn btn-primary profile-button">Save Profile</button>
                         </div>
                    </div>
               }
          </div>
     </div>
</body>
