
@{
    ViewBag.Title = "Index";
}


<!-- ======= Hero Section ======= -->
<div class="home_hero-left">
    <div class="home_hero-copy">
        <h1>Welcome to<br><span>Money Vision</span></h1>
        <p>Easily manage income, expenses,<br><span> and budgets securely in one place.</span></p>
        <a href="/register" class="btn-get-started">Start Now</a>
    </div>
    <img src="https://assets-global.website-files.com/640f69143ec11b21d42015c6/6502e96f8b7ff92feac8c8ab_hero-phone-p-800.png" loading="lazy" alt="Phone" class="phone-img">
    <img src="https://assets-global.website-files.com/640f69143ec11b21d42015c6/6502e96fd87aecac6ad34629_hero-dollars-p-500.png" loading="lazy" alt="Dollars" class="dollars-img">
</div>


<!-- End Hero -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="fas fa-dollar-sign"></i></div>
                        <h4 class="title"><a href="">Budget Tracking</a></h4>
                        <p class="description">Users can set up budgets for different categories of expenses and track their spending in real-time.</p>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="fas fa-money-bill-alt"></i></div>
                        <h4 class="title"><a href="">Expense Tracking</a></h4>
                        <p class="description">The app categorizes expenses, provides detailed transaction history, and generates reports to visualize spending habits.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="fas fa-file-invoice-dollar"></i></div>
                        <h4 class="title"><a href="">Bill Management</a></h4>
                        <p class="description">The app helps manage bills, track payment due dates, and organize invoices efficiently.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="fas fa-users"></i></div>
                        <h4 class="title"><a href="">Social Sharing and Collaboration</a></h4>
                        <p class="description">Users can invite friends or family members to join the app, allowing them to collaborate on budgeting and financial goals.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/img/Money-Management-Tool-On-Mobile.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                    <h2>Money doesn’t have to be messy</h2>
                    <p>Discover how Money Vision can transform your finances and empower you to love your spending while boosting your savings.</p>
                    <!-- <div class="btn-custom">
        <a href="#" class="btn-custom animate__animated animate__fadeInUp rounded">Start Now</a>
    </div>-->

                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->
                    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">
            <h2 class="section-title text-left">How Money Vision Works</h2>
            <div class="row">
                <!-- Left Section -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" data-aos="fade-up">
                            <div class="row align-items-center icon-box-pink">
                                <div class="col-md-2">
                                    <div class="icon"><i class="fas fa-user-plus fa-2x" style="color: #ED729B;"></i></div>
                                </div>
                                <div class="col-md-10">
                                    <h3>Sign up for free</h3>
                                    <p>It’s easy - no credit card or commitment required.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6" data-aos="fade-up">
                            <div class="row align-items-center icon-box-green">
                                <div class="col-md-2">
                                    <div class="icon"><i class="fas fa-money-bill-wave fa-2x" style="color: #6DCC4B; "></i></div>
                                </div>
                                <div class="col-md-10">
                                    <h3>Make a money plan</h3>
                                    <p>Add your accounts and expenses, set savings targets, <br> <span>and share your plan with your friends</span>.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6" data-aos="fade-up">
                            <div class="row align-items-center icon-box-cyan">
                                <div class="col-md-2">
                                    <div class="icon"><i class="fas fa-bed fa-2x" style="color: #6CCAC6;"></i></div>
                                </div>
                                <div class="col-md-10">
                                    <h3>Enjoy less stress</h3>
                                    <p>Start feeling confident, content, and secure in your financial life.<br> <span>You might even sleep better.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Section -->
                <div class="col-md-6" data-aos="fade-up">
                    <!-- Replace the content of this div with your image or other content -->
                    <img src="https://assets-global.website-files.com/640f69143ec11b21d42015c6/651dc6053a36f068c1fcba3f_app-devices-spread-spark-p-800.webp"loading="lazy" alt="Laptop" class="laptop-img">
                </div>
            </div>
        </div>
    </section>

                    <!-- End Features Section -->

</main><!-- End #main -->
