
@{
     ViewBag.Title = "_Footer";
}

<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

     <div class="footer-top">
          <div class="container">
               <div class="row"  style="margin-left: 100px">

                    <div class="col-lg-3 col-md-6 footer-links">
                         <h4>Useful Links</h4>
                         <ul style="margin-top: 5px; margin-left: -5px;">
                              <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a href="/about">About</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a href="/login">Log In</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a href="/register">Sign Up</a></li>

                         </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                         <h4>Our Services</h4>
                         <ul style="margin-top: 5px; margin-left: -5px;">
                              <li><i class="bx bx-chevron-right"></i> <a>Budget Tracking</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a>Expense Tracking</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a>Bill Management</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a>Collaboration</a></li>

                         </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                         <h3>About Money Vision</h3>
                         <p style="margin-top: -12px; width: 400px; " >    Money Vision is your go-to money management app for effortless financial control. With user-friendly features and insightful tools, it simplifies budgeting, expense tracking, and planning, helping you achieve financial freedom with ease.</p>
                    </div>

               </div>
          </div>
     </div>

     <div class="container">
          <div class="copyright">
               &copy; Copyright <strong><span>Money Vision</span></strong>. All Rights Reserved
          </div>
     </div>
</footer>

