
@{
     ViewBag.Title = "Index";
}

<main id="main">
    <!-- ======= About Section ======= -->
    <div class="about-left">
        <div class="about_hero-copy">
            <h1>The best features<br><span>all in one app</span></h1>
            <p>All-in-one app with top features.</p>
            <a href="/register" class="btn-get-started">Start Now</a>
        </div>
        <div class="about_laptop-img">
            <img src="https://assets-global.website-files.com/640f69143ec11b21d42015c6/651dc6053a36f068c1fcba3f_app-devices-spread-spark-p-800.webp" loading="lazy" alt="Laptop" class="about_laptop-img">
        </div>
    </div>
    <!-- End About Section -->
    <!-- ======= Facts Section =======-->
    <section class="facts section-background" data-aos="fade-up">
        <div class="container">
            <h4 class="section-title">Your financial journey starts here:<br><span>Plan, spend, and save with confidence.</span></h4>
            <div class="row counters">
                <!-- First Box -->
                <div class="col-lg-4 col-12 text-center">
                    <div class="fact-box">
                        <div class="icon">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p class="fact-title">Track & Analyze</p>
                        <p class="fact-description">Ditch spreadsheets. Auto-track<br><span>spending & gain insights.</span></p>
                    </div>
                </div>

                <div class="col-lg-4 col-12 text-center">
                    <div class="fact-box">
                        <div class="icon">
                            <i class="fas fa-money-bill-alt"></i>
                        </div>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p class="fact-title">Budget Your Way</p>
                        <p class="fact-description">Set flexible goals & get real-time<br><span>tracking to stay on course</span>.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-12 text-center">
                    <div class="fact-box">
                        <div class="icon">
                            <i class="fas fa-piggy-bank"></i>
                        </div>
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                        <p class="fact-title">Futureproof Savings</p>
                        <p class="fact-description">Automate & track progress towards<br><span>any financial goal.</span></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- End Facts Section -->
    <!-- ======= Our Skills Section ======= -->
    <section class="solutions">
        <div class="container">
            <h2 class="solution-title">Chart your financial course:<br><span>Plan, track, and achieve your goals.</span></h2>
            <div class="solutions-grid">
                <div class="solutions-grid-item">
                    <div class="solution-check-head">
                        <div class="solutions-check-mark">
                            <i class="fas fa-check-circle" style="color: #ED729B;"></i>
                        </div>
                        <h6>Effortless Budgeting</h6>
                    </div>
                    <div class="padding-left padding-small">
                        <p class="solution-paragraph">Our intuitive tools make budgeting and expense tracking a breeze.<br><span>See your finances clearly and effortlessly.</span></p>
                    </div>
                </div>
                <div class="solutions-grid-item">
                    <div class="solution-check-head">
                        <div class="solutions-check-mark">
                            <i class="fas fa-check-circle" style="color: #6CCAC6;"></i>
                        </div>
                        <h6>Goal-Oriented Planning</h6>
                    </div>
                    <div class="padding-left padding-small">
                        <p class="solution-paragraph">Set realistic savings goals, from dream vacations to debt payoff. Track progress visually and stay motivated with personalized milestones.</p>
                    </div>
                </div>
                <div class="solutions-grid-item">
                    <div class="solution-check-head">
                        <div class="solutions-check-mark">
                            <i class="fas fa-check-circle" style="color: #6DCC4B;"></i>
                        </div>
                        <h6>Actionable Insight</h6>
                    </div>
                    <div class="padding-left padding-small">
                        <p class="solution-paragraph">Gain valuable insights into your spending habits. Identify areas to optimize finances and reach goals faster.</p>
                    </div>
                </div>
                <div class="solutions-grid-item">
                    <div class="solution-check-head">
                        <div class="solutions-check-mark">
                            <i class="fas fa-check-circle" style="color: #4180F7;"></i>
                        </div>
                        <h6>Confidence and Control</h6>
                    </div>
                    <div class="padding-left padding-small">
                        <p class="solution-paragraph">Take charge of your financial future. Organized planning and insightful data at your fingertips empower you to make informed choices and achieve your financial aspirations.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- End Our Skills Section -->
    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonial">
        <div class="testimonial_container">
            <h7>Change your relationship<br><span>with money.</span></h7>
            <p>Simplify spending and saving, once and for all. Organize your finances<br><span>and your life with Money Vision.</span></p>
            <a href="/register" class="testimonial_btn-get-started">Start Now</a>
        </div>
        <div class="testimonial_phone-img">
            <img src="https://assets-global.website-files.com/640f69143ec11b21d42015c6/651dcc96d37ed4a75df303cb_footer_blob-p-800.png" loading="lazy" alt="Phone" class="testimonial_phone-img">
        </div>
    </section>

    <!-- End Ttstimonials Section -->

</main><!-- End #main -->
