@model MoneyVision.Domain.Entities.Transaction.Responses.TransactionsListResp

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<div class="container mt-5 mb-5">
    <h1>Transactions</h1>
    <div class="transactions-container">
        <div>Id</div>
        <div>Amount</div>
        <div>Category</div>
        <div>Date</div>
        @foreach (var item in Model.Transactions)
        {
            <div class="transaction-item">
                <div>@item.Id</div>
                <div>@item.Amount</div>
                <div>@item.Category</div>
                <div>@item.CreatedAt</div>
                <div><button>Edit</button></div>
                <div><button>Delete</button></div>
            </div>
        }
    </div>
</div>
